/*ska bort sen början*/
*{
    box-sizing: border-box;    
}

body{
    margin: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.tint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.tint:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
}

.tint *:not(img) {
    z-index: 1;
}

.menu{
    width: 100%;
    background:  #29363d;
    position: fixed;
    top: -80vh;
    left: 0;
    transition: top 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10; 
}

.menu-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 90%;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
    padding: 10px 10px 0px 0px;
    color: whitesmoke;
}

.show{
    top: 0;
}

#menua{
    font-size: 25px;
    padding: 8px 8px 30px 8px;
}

#closeB{
    margin-left: 90%;
}

footer{
    grid-area: fo;
    border-top: 4px solid black;
    background-color: #29363d;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info_footer{
    display: grid;
    width: 100%;
    grid-template-areas: 
    'ko'
    'ad'
    ;
}

#footer_copy{
    font-size: small;
}

#kontakt{
    grid-area: ko;
}

#adress{
    grid-area: ad;
}

#kontakt, #adress{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menua{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

header{
    grid-area: he;
    background-color: #29363d;;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex; 
    padding: 0px 5px 5px 10px;
    z-index: 3;
}

header a{
    color: white;
}

/*ska bort sen slut*/

/*Boende sida*/
#boende_sida{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    'he'
    's1b'
    's2b'
    'fo'
    ;
}

#section1_bo form input, #section1_bo form select{
    width: 100%;
    height: 25px;
}

#section1_bo form label{
    color: white;
}

#section1_bo form{
    width: 100%;
    height: 100%;
    grid-gap: 5px;
    padding: 20px;
    display: grid;
    align-items: center;
    grid-template-areas: 
    'na ap'
    'da vr'
    'so so'
    ;
}

#Namnd{
    grid-area: na;
}

#Antald{
    grid-area: ap;
}

#Datumd{
    grid-area: da;
}

#Välj_rumd{
    grid-area: vr;
}

#sok{
    grid-area: so;
}

#section1_bo article{
    width: 100%;
    margin-top: 60px; /*ändra i slutet så de passar bra med headern */
    background-color: #31414b; 
}

#section1_bo{
    grid-area: s1b;
    background-color: #435966;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

#section2_bo{
    grid-area: s2b;
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #C1AF8E;
    grid-template-areas: 
    'sm'
    'me'
    'la'
    'sv'
    ;
}

#small{
    grid-area: sm;
}

#medium{
    grid-area: me;
}

#large{
    grid-area: la;
}

#svit{
    grid-area: sv;
}

/*Mobil*/
@media screen and (max-width: 768px) {
        /*ska bort börja*/

        
    header a{
        display: none;
    }
        /*ska bort slut*/

    #section2_bo article{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2em;
    }

    #section2_bo article:nth-child(even) {
        flex-direction: column-reverse;
    }

    #section2_bo img{
        max-height: 50vh;
    }
}

/*Desktop*/
@media screen and (min-width: 768px) {
    /*ska bort börja*/
    .menu-button{ 
        display: none;
    }
    header{
        justify-content: space-around;
    }

    a:hover{
        color: whitesmoke;
    }
    /*ska bort slut*/

    #small, #medium, #large, #svit{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #section2_bo img{
        max-height: 60vh;
    }

    #section2_bo h3{
        margin: 0;
    }

    .rum_text{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 2em;
    }

    #section2_bo ul{
        margin: 0 75% 0 0;
    }

}