/*ska bort sen början*/
*{
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
/*ska inte vara på mobil ba dator
a:hover{
    color: whitesmoke;
}
*/
.menu{
    height: 30vh;
    width: 100vw;
    background: hotpink;
    position: fixed;
    top: -40vh;
    left: 0;
    transition: top 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10; 
}

.menu-button{
    cursor: pointer;
    display: inline;
    margin-right: 90%;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    top: 0;
}

#closeB{
    margin-left: 90%;
}

#footer_mobil{
    grid-area: fo;
    background-color: lightpink;
    min-height: 21vh;
}

#menua{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

header{
    grid-area: he;
    background-color: lime;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex; 
    padding: 1rem;
    height: 10%;
}

/*ska bort sen slut*/

/*Mobil*/
@media screen and (max-width: 768px) {
    #resta_sida{
        width: 100vw;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        'a1'
        'a2'
        'a3'
        'fo'
        ;
    }

    #article1_resta{
        grid-area: a1;
        background-color: aquamarine;
        min-height: 60vh;
    }

    #article2_resta{
        grid-area: a2;
        background-color: lightcoral;
        min-height: 150vh;
    }

    #article3_resta{
        grid-area: a3;
        background-color: lightgreen;
        min-height: 60vh;
    }


}

/*Desktop*/
@media screen and (min-width: 768px) {
    .menu-button{ 
        display: none;
    }
    
    #hem_sida{
        width: 100vw;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        'he'
        'a1'
        'a2'
        'se'
        'a3'
        'fo'
        ;
    }

    #resta_sida{
        width: 100vw;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        'a1'
        'a2'
        'a3'
        'fo'
        ;
    }

    #article1_resta{
        grid-area: a1;
        background-color: aquamarine;
        min-height: 60vh;
    }

    #article2_resta{
        grid-area: a2;
        background-color: lightcoral;
        min-height: 150vh;
    }

    #article3_resta{
        grid-area: a3;
        background-color: lightgreen;
        min-height: 60vh;
    }

}

