/*ska bort sen början*/
*{
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
/*ska inte vara på mobil ba dator
a:hover{
    color: whitesmoke;
}
*/
.menu{
    height: 30vh;
    width: 100vw;
    background: hotpink;
    position: fixed;
    top: -40vh;
    left: 0;
    transition: top 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10; 
}

.menu-button{
    cursor: pointer;
    display: inline;
    margin-right: 90%;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    top: 0;
}

#closeB{
    margin-left: 90%;
}

#footer_mobil{
    grid-area: fo;
    background-color: lightpink;
}

#menua{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
/*ska bort sen slut*/

/*Mobil*/
@media screen and (max-width: 768px) {
    #resta_sida{
        height: 200vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 50% 20% 10%;
        grid-template-areas: 
        'a1'
        'a2'
        'a3'
        'fo'
        ;
    }

    #article1_resta{
        grid-area: a1;
        background-color: aquamarine;
    }

    #article2_resta{
        grid-area: a2;
        background-color: lightcoral;
    }

    #article3_resta{
        grid-area: a3;
        background-color: lightgreen;
    }


}

