*{
    box-sizing: border-box;    
}

body{
    margin: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.tint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.tint:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
}

.tint *:not(img) {
    z-index: 1;
}

.menu{
    width: 100%;
    background:  #29363d;
    position: fixed;
    top: -80vh;
    left: 0;
    transition: top 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10; 
}

.menu-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 90%;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
    padding: 10px 10px 0px 0px;
    color: whitesmoke;
}

.show{
    top: 0;
}

#menua{
    font-size: 25px;
    padding: 8px 8px 30px 8px;
}

#closeB{
    margin-left: 90%;
}

footer{
    grid-area: fo;
    border-top: 4px solid black;
    background-color: #29363d;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info_footer{
    display: grid;
    width: 100%;
    grid-template-areas: 
    'ko'
    'ad'
    ;
}

#footer_copy{
    font-size: small;
}

#kontakt{
    grid-area: ko;
}

#adress{
    grid-area: ad;
}

#kontakt, #adress{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menua{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

header{
    grid-area: he;
    background-color: #29363d;;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex; 
    padding: 0px 5px 5px 10px;
    z-index: 3;
}

header a{
    color: white;
}

#hem_sida{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    'he'
    'a1'
    'a2'
    'se'
    'a3'
    'fo'
    ;
}

#article1_hem{
    grid-area: a1;
    max-height: 80vh;
}

#article2_hem{
    grid-area: a2;
    color: whitesmoke;
    background-color:#435966;
    padding: 20px;
}

#article2_hem h3, #article2_resta h3{
    margin-top: 10px;
}

#article3_hem{
    grid-area: a3;
    background-color: #435966;  ;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

#section_hem{
    grid-area: se;
    background-color: #b3b094;
    display: grid;
}

#section_hem article{
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    color: white;
}

#section_hem article a{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}

#ar{
    grid-area: ar;
    margin: 20px;
    max-height: 50vh;
}

#ab{
    grid-area: ab;
    margin: 20px;
    max-height: 50vh;
}

#as{
    grid-area: as;
    margin: 20px;
    max-height: 50vh;
}

#oppettider .tider {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
}
    
#oppettider h1 {
    padding-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    font-size: x-large;
}

#oppettider p{
 margin-bottom: 7px;
 margin-top: 7px;
}

/*Mobil*/
@media screen and (max-width: 768px) {
    
    header a{
        display: none;
    }

    #section_hem{
        grid-template-rows: repeat(3, calc(100% / 3));
        grid-template-areas:
         'ar'
         'ab'
         'as'
        ;
    }

    .text_footer{
        min-width: 250px;
    }
}

/*Desktop*/
@media screen and (min-width: 768px) {
    .menu-button, .show{ 
        display: none;
    }

    header{
        justify-content: space-around;
        padding: 1rem;
    }

    a:hover{
        color:#90BDD6;
    }

    #section_hem{
        grid-template-columns: repeat(3, calc(100% / 3));
        grid-template-areas:
         'ar ab as'
        ;
    }

    #info_footer{
        grid-template-areas: 
        'ko ad'
        ;
    }
}